@import './variablesRules.scss';

.displayProductsGlobal{
    background: $secondary-light;
    padding: $small-padding;

& .displayProducts{
    width: 80%;
    height: 100%;
    padding: $regular-padding;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , minmax(min-content , 1fr));
    grid-gap: 2rem;
    background: white;
    text-align: center;


    &__container{
        padding: $regular-padding $small-padding;
        transition: 0.2s;

        &:hover{
          transform: translateY(-1%);
        }
        
        &__photo{
            &-image{
                object-fit: contain;
                width: 100%;
                height: 20rem;
            }//end of the image
        }//end of the photo container


        &__information{
            text-decoration: none;
            color: $primary-textColor;
            padding: $regular-padding $small-padding;
            text-align: center; 

            &-price{
                color: $primary-textColor;
                font-size: $regularFont;
                display: block;
            }
              
            &-name{
                height: 3rem;
            }
            &-name , &-unit{
                display: block;
                font-size: $smallFont;
            }
        }

    }//end of the container

}//end of the display products
}//end of the display products global




.linkPhoto{
    text-decoration: none;
}