@import './variablesRules.scss';
@import './mixinsRules.scss';

.registerForm{

    background: $secondary-color;
    height:100vh;
    position: relative;

 
     &__container{
         background: $primary-color;
         width: 45%;
       
         @include positionElement;
         top: 45%;
         left: 50%;
         padding: $regular-padding;
         border-radius: 0.5rem;

         &__title{
           color: $primary-textColor;
           padding: $small-padding;

           &--h3{
           font-size: $bigFont;
            display: block;
            text-transform: uppercase;
           }//end of the h3

           &--span{
            font-size: $regularFont;
           }//end of the span
         }//end of the title on top of the form
        
         &__form{
           padding: 0.5rem;
           width: 100%;
         
        &__element{
            padding:$small-padding;
          }//end of the element
         }//end of the form
        }//end of the container
}//end of the register Form