//universal styles selector for all the label classNames 
.label{
    display: block;
    color: white;
    font-weight: 1000;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

//universal styles selector for all the text field classNames 
.textInput{
    width: 100%;
    height: 4rem;
    border: none ;
    border-radius: 0.5rem;
}

//universal style for selector with all the button className
.button{
    background: green;
    padding: 1rem 3rem;
    color: white;
    border:none;
    border-radius: 0.5rem;
}

.validationMessage{
&__message{    
z-index: 1;
background: orange;   
color: black;
padding: 1rem;
font-size: 1rem;
border-radius: 0.5rem;
   } 
}