//
@import './variablesRules.scss';


//universal styles selector for all the label classNames 
.label{
    display: block;
    color: $primary-textColor;
    font-weight: 1000;
    font-size: $regularFont;
    margin-bottom: 0.5rem;
}

//universal styles selector for all the text field classNames 
.textInput{
    width: 100%;
    height: 4rem;
    border: none ;
    border-radius: 0.5rem;
}

//universal style for selector with all the button className
.button{
    background: $primary-dark;
    padding: $small-padding $large-padding;
    width: 100%;
    color: $secondary-textColor;
    border:none;
    border-radius: 0.5rem;
}

.validationMessage{
&__message{    
z-index: 1;
background: $primary-dark;   
color: $secondary-textColor;
padding: 1rem;
font-size: $smallFont;
border-radius: 0.5rem;
} 
}


.title1{
    font-size: 2.5rem;
    display: block;
    
}

.title2{
    display: block;
    padding: 1rem;
    margin-top:1rem;   
}

.spanText {
    display:block;
    margin-top:2rem;
    font-size:1.2rem;
}

