@import './displayProducts.scss';
@import './navbarStyle.scss';
@import './registerStyle.scss';
@import './reusableStyle.scss';
@import './productDescription.scss';
@import './mixinsRules.scss';
@import './variablesRules.scss';

//universal set for CSS
* , :root , ::after , ::before{ 
padding: 0;
margin: 0;
box-sizing: border-box;
}

html{
font-size: 62.5%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

