//primary red colors for the theme
$primary-color:#e53935;
$primary-dark:#ab000d;
$primary-light:#ff6f60;

//complementary colors for the theme
$secondary-color:#e8eaf6;
$secondary-light:#ffffff;
$secondary-dark:#b6b8c3;

//text colors 
$primary-textColor:#000000;
$secondary-textColor:white;

//font sizes for screens above 900px
$smallFont:1.2rem;
$regularFont:1.6rem;
$bigFont:2rem;

//paddings
$small-padding:1rem;
$regular-padding:2rem;
$large-padding:3rem;